  .main-page-container {
    .main-page-left {
      .chat-room-container {
        .chat-box-r {
          .chat-box-black {
            max-height: 7.68rem;
          }
        }
      }
    }
  }

.arrow-down {
margin-top:1.3rem;
cursor: pointer;
}
.dropdown{
  position: relative;
}

.dropdown-content {
  display: none;
  background: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-content.show {
  display: block;
  height: 10.8rem;
}

.img-circle{
   width:3.75rem;
   height:3.75rem;
   border-radius:50%;
}

@media screen and (max-width:768px) {
  .main-page-container{
    flex-direction: column;
    .main-page-left{
      .chat-room-container{
        .chat-box-r{
          .chat-box-black{
            max-height: 15rem;
          }
        }
      }
    }
  }
    .img-circle {
      width: 2.8rem;
      height: 2.8rem;
    }

}