.slider{
  margin-left: 0;
  margin-right: 0;
}


.marks {
  position: relative;
  top: 50%;
  left: 0;
  right: 0;
  height: 0;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.mark {
  position: absolute;
  top: -10px;
}

.mark::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -2px;
  // transform: translateX(-60%);
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid var(--grey200);
}