:root {
  --black: #000;
  --grey500: #333;
  --grey400: #666;
  --grey300: #CCCCCC;
  --grey200: #f2f2f2;
  --white: #FFF;
}

// 定義標題字體大小
$title-1: 3.157rem;
$title-2: 2.369rem;
$title-3: 1.777rem;
$title-4: 1.333rem;
$title-5: 1rem;

// 定義內文字體大小
$body-1: 3.157rem;
$body-2: 2.369rem;
$body-3: 1.777rem;
$body-4: 1.333rem;
$body-5: 1rem;

// 標題樣式
.title-1 {
  font-size: $title-1;
  font-weight: 700;
}

.title-2 {
  font-size: $title-2;
  font-weight: 700;
}

.title-3 {
  font-size: $title-3;
  font-weight: 700;
}

.title-4 {
  font-size: $title-4;
  font-weight: 700;
}

.title-5 {
  font-size: $title-5;
}

// 內文樣式
.body-1 {
  font-size: $body-1;
}

.body-2 {
  font-size: $body-2;
}

.body-3 {
  font-size: $body-3;
}

.body-4 {
  font-size: $body-4;
}

.body-5 {
  font-size: $body-5;
}

//按鈕樣式

.btn {
  width: 12.5rem;
  height: 3.75rem;
  padding: 0 1.5rem;
  border-radius: 0.3125rem;
  background-color: var(--black);
  color: var(--white);
  border: none;
}